<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.sunyard.itp.mapper.QueryOrderMapper">
	
	<update id="updateTradeStatus" parameterType="TransFlow">
		update TBL_TRANS_FLW set
		TRADE_STATUS=#{tradeStatus},RECEIPT_AMOUNT=#{receiptAmount}
		
		where
		OUT_TRADE_NO = #{outTradeNo}
	</update>
	<update id="updateTradeStatusWx" parameterType="TransFlow">
		update TBL_TRANS_FLW set
		TRADE_NO=#{tradeNo},BUYER_LOGON_ID=#{buyerLogonId},TRADE_STATUS=#{tradeStatus},RECEIPT_AMOUNT=#{receiptAmount},
		TOTAL_AMOUNT=#{totalAmount},SEND_PAY_DATE=#{sendPayDate},BUYER_USER_ID=#{buyerUserId}
		where
		OUT_TRADE_NO = #{outTradeNo}
	</update>

	<select id="findAllDatas" parameterType="TransFlow" resultType="TransFlowDto">
		SELECT TTF.OUT_TRADE_NO, TTF.TRADE_NO, TTF.BUYER_LOGON_ID, TTF.TRADE_STATUS, 
		TTF.TOTAL_AMOUNT, TTF.RECEIPT_AMOUNT, TTF.SEND_PAY_DATE, TTF.BUYER_USER_ID,
		TTF.TRANS_TYPE, TTF.PAY_MODEL,TTF.BROADCAST
		FROM TBL_TRANS_FLW AS TTF
		WHERE TTF.TRADE_STATUS NOT IN('01') 
		<if test="transType != null and transType != ''">
			AND TTF.TRANS_TYPE = #{transType}
		</if>
		ORDER BY TTF.SEND_PAY_DATE DESC
	</select>
</mapper>
