<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.sunyard.itp.mapper.TransFlowMapper">
	<insert id="addTransFlow" parameterType="TransFlow">
		insert into TBL_TRANS_FLW
		(TRADE_NO,OUT_TRADE_NO,BUYER_LOGON_ID,TRADE_STATUS,TOTAL_AMOUNT,RECEIPT_AMOUNT,SEND_PAY_DATE,BUYER_USER_ID,TRANS_TYPE)
		values
		(#{tradeNo},#{outTradeNo},#{buyerLogonId},#{tradeStatus},#{totalAmount},#{receiptAmount},#{sendPayDate},#{buyerUserId},#{transType})
	</insert>
	
	<select id="queryTransFlow" parameterType="TransFlow" resultType="java.lang.Integer">
		select count(1) from TBL_TRANS_FLW
		where
		OUT_TRADE_NO = #{outTradeNo}
	</select>
	<update id="updateTrade" parameterType="TransFlow">
		update TBL_TRANS_FLW set
		TRADE_NO=#{tradeNo},BUYER_LOGON_ID=#{buyerLogonId},TRADE_STATUS=#{tradeStatus},RECEIPT_AMOUNT=#{receiptAmount},
		TOTAL_AMOUNT=#{totalAmount},SEND_PAY_DATE=#{sendPayDate},BUYER_USER_ID=#{buyerUserId}
		where
		OUT_TRADE_NO = #{outTradeNo}
	</update>
	

</mapper>
